body {
  margin: 2px;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.23),
    rgba(255, 255, 255, 0.746),
    rgba(144, 216, 230, 0.358),
    rgba(84, 238, 197, 0.073),
    rgba(142, 142, 246, 0.393)
  );
}
.muradStyle {
  font-family: monospace;
}
.roundDiv {
  border-radius: 10px;
}
.ad {
  margin: 1px;
  border-radius: 5px;
  padding: top 50px;
  align-items: center;
  text-align: center;
}
.item {
  padding: 20px;
  display: inline-block;
}
.footerClass {
  margin: 10px;
  border-radius: 9px;
}
.footerClass h3 {
  text-align: center;
}
.footerClass h1 {
  text-align: center;
}

.footerClass h6 {
  text-align: center;
}
