body {
  margin: 0px;
  background-color: #c2e3efa1;
}
.GuildShowSection {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
}

.GuildShowSection div div {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 9px;
}
.GuildShowSection .titleShow {
  font-size: 30px;
  font-weight: bold;
}

.guildInformation {
  width: 20%;
  height: 500px;
}

.GuildShowDiv {
  overflow: hidden;
  width: 99%;
  height: 90%;
}
.GuildShowDiv img {
  border-radius: 8px;
}
.GuildShowDiv img:hover {
  border-radius: 8px;
  transform: rotate(3deg);
  transition: 2s;
}
.GuildShowDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.playersListSection {
  width: 100%;
  margin: 20px;
}
.playersListSection div {
  width: 250px;
  margin: 10px;
  padding: 5px;

  text-align: center;
}
.card {
  overflow: hidden;
}
.goldCard:hover img {
  transform: scale(1.1);
  transition: 2s;
  
}
